<div class="container">
  <div class="row mt-5p">
    <div class="col-md-4 col-centered">
      <div class="text-center mb-40"><img class="logo" src="assets/images/logo.png" alt="NoteIt"/></div>
      <div>
        {{input-component type="password" className="form-control" name="password" value=password
                          placeholder="Password" fieldStatus=passwordStatus enter=(action "focus" "cnf_password")}}
        {{input-component type="password" className="form-control" name="cnf_password" value=confirmPassword
                          placeholder="Confirm Password" fieldStatus=cnfPasswordStatus enter=(action "resetPassword")}}
        <div class="form-group mt-30">
          <button class="btn btn-primary btn-block" {{action "resetPassword"}}>Reset Password</button>
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-block" {{action "cancel"}}>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>